<<<<<<< HEAD
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

video#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
 }

.left-block {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 15%;
 }

landing-text {
    color: white;
    text-align: center;
    font-family: lato;
    padding: 50px;
}


#outer
{
    width:100%;
    
    display: inline-block;
}
.inner
{
    display: inline-block;
}

#panel {
    width: 100px;
}


background {
    background-color: gray;
    position: fixed;
    top: 50%; left: 50%;
z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

#button-center{
     text-align:center;
     margin: 10px;
}

#button-inline{
    position: absolute;
    right: 30%;
    top: 50%;
}

text{
    color: white;
}

=======
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

video#bgvideo {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
 }

.left-block {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 15%;
 }

landing-text {
    color: white;
    text-align: center;
    font-family: verdana;
    padding: 50px;
}


#outer
{
    width:100%;
    
    display: inline-block;
}
.inner
{
    display: inline-block;
}

#panel {
    width: 100px;
}


background {
    background-color: gray;
    position: fixed;
    top: 50%; left: 50%;
z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

#button-center{
     text-align:center;
     margin: 10px;
}

#button-inline{
    position: absolute;
    right: 30%;
    top: 50%;
}

text{
    color: white;
}

>>>>>>> chris
